<!-- Footer -->
<!-- Use JS to include in index.html -->
      Wellzesta | Chapel Hill, NC</br>
      <div class="social">
        <div class="row text-center">
          <!-- google -->
          <a href="https://plus.google.com/105084378243564496200" rel="publisher"><i class="social-icon fa fa-google-plus"></i></a> 
          <!-- twitter -->
          <a href="https://twitter.com/Wellzesta" rel="publisher"><i class="social-icon fa fa-twitter"></i></a>
          <!-- github -->
          <a href="https://github.com/wellzesta" rel="publisher"><i class="social-icon fa fa-github"></i></a>
        </div>
      </div>
      </br>
    © Copyright 2014 Wellzesta
