<!-- Footer -->
<!-- Use JS to include in index.html -->
      <p>Wellzesta | Chapel Hill, NC</p>
      <p>(919) 443-9355</p>
      <p>info@wellzesta.com</p>
      <div class="social">
        <div class="row text-center">
          <!-- google -->
          <a href="https://plus.google.com/105084378243564496200" rel="publisher"><i class="social-icon fa fa-google-plus"></i></a> 
          <!-- twitter -->
          <a href="https://twitter.com/Wellzesta" rel="publisher"><i class="social-icon fa fa-twitter"></i></a>
          <!-- github -->
          <a href="https://github.com/wellzesta" rel="publisher"><i class="social-icon fa fa-github"></i></a>
          <!-- Wordpress -->
          <a href="http://blog.wellzesta.com" rel="publisher"><i class="social-icon fa fa-wordpress"></i></a>
        </div>
      </div>
      </br>
    © Copyright 2014 Wellzesta
